/* Estilos para pantallas pequeñas o movil*/
.navbar{
    background-color: #d8eeff;
}
.navbar-brand{
    color: #f9fffc;
}
.texto-superpuesto {
    position: absolute;
    top: 85%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    text-align: left;
    font-size: 24px; 
    background: rgba(72, 152, 206, 0.7); 
    padding: 15px; 
    border-radius: .1em;
    white-space: normal; 
    line-height: 1.5;
    width: 100%;
}
.text-widget {
    font-size: 18px; 
    margin-top: 70px; 
    margin-left: 100px; 
    margin-right: 100px; 
}

#accordionFlushExample{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;    
}


/* Estilos para pantallas grandes */
@media (min-width: 1000px) {
    .carousel{
        margin-top: 2em;
        margin-left: 2em;
    }
    .carousel img{
        border-radius: .5em;
    }
    .ubicacion{
        width: 85%;
    }
    
}
